* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* IMPOSTAZIONE TITOLO */
.title {
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    color: #E53170;
    text-align: center;
    margin: 50px 0px;
}

/* IMPOSTAZIONE PARAGRAFO */
.text {
    text-align: center;
    font-size: 25px;
    margin: 0% 15%;
    font-family: 'Abel', sans-serif;
}

.container {
    width: 80%;
    margin: 3% 10%;

}

.box {
    width: calc(100% / 3 - 10%);
    height: 110px;
    float: left;
    background-color: #0F0E17;
    margin-left: 7%;
    
}


.bottom {
    margin-top: 3%;
}

img {
    width: 110px
}

/* IMPOSTAZIONE PER CONTENUTO CARDS */
.cards {

    color: white;
    display: inline-table;
    vertical-align: top;
    padding-left: 10px;
    padding-top: 20px;
}
/* FONT NOME */
.one {
    font-family: 'Fredoka One', cursive;
}

/* ALLINEAMENTO NOME */
.two {
    
    display:block;
    padding-left:0px;
    padding-top:5px;
    padding-bottom:5px;

}

/* E-MAIL */
.three {
    font-family: "fredoka One", em;
    color:#138bd6;

}

/* OMBRA */
.box {
    box-shadow: 3px 3px 3px #888888;
}

/* CLEARFIX */
.clearfix::after{
    clear: both;
    content: "";
    display:table;
}